
#header{
    position: sticky;
    background-color:#030303;
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 715px;
}

.list-item a {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.list-item a:hover {
    color: #FAC422;
}

.navbar-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar-contact-1 {
    background-color: transparent;
    border: none;
}

.navbar-contact{
    box-sizing: border-box;
    width: 178px;
    height: 62px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}
.navbar-contact a {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.navbar-contact a:hover {
    color: #FAC422;
}